.JobContainer {
  display: flex;
  background-color: white;

  margin: auto;
}
.active {
  background-color: lightblue;
}
.Job-left {
  overflow-y: scroll;
  height: 800px;
}
.Job-right {
}
.JobDetailsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
