.SearchField {
  width: 300px;
  height: 40px;
  border: 2px solid;
  border-radius: 10px;
}
.TagList {
  display: flex;
  position: relative;
  gap: 20px;
  justify-content: center;
}
.dropdown {
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 10px;

  position: static;
}
.Dropdown-menu {
  border-radius: 10px;
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid gray;
}
.green {
  background-color: green;
}
.show {
  display: inline;
}
.link {
  text-decoration: none;
  width: fit-content;
}
.link::selection {
  background-color: red;
}
.HomeContainer {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: sticky;
  top: 0px;
}
