.PeopleCard {
  display: flex;
  padding: 20px;
  border-bottom: 0.1px solid lightgray;
  gap: 10px;
  background-color: white;
}
.modal {
  font-size: 12px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.menu-left > p {
  padding: 10px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.activeskill {
  color: #1267ff !important;
  border-left: 2px solid #1267ff;
}
.body {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.details {
  height: 500px;
  overflow-y: scroll;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
